import os
import webbrowser
def respond_back(user):
	if user=='hi':
		return('assist' ' hello')
	elif user=='hey':
		return('assist:'' hello')
	elif user=='hello':
		return('assist:'' hi')
	elif user=='how are you':
		return('assist:'' i am fine')
	elif user=='bye':
		return('assist:' ' talk to you later')
	elif user=='open subwaysurfers':
		return('assist:'' i will open subwaysurfers',webbrowser.open('subwaysurfers'))
	elif user=='do you like programming':
		return('assist'' yes i do')
	elif user=='do you like coding':
		return('assist'' yes i do')
	elif user=='do you have unlimited access to everything':
		return('assist:'' i think so')
	elif user=='are you my friend':
		return('assist:'''' yes i am i am everyone's friend''')
	
	else:
		return('assist:'''' i don't know that sorry''')
while True:
	user=input('type here:')
	print(respond_back(user)) 
